In [8]:
from os import listdir
import pandas as pd
from collections import defaultdict, Counter
from datetime import datetime, timedelta
import numpy as np
import matplotlib.pyplot as plt

In [14]:
# Data source: DHS API 2010-2015
datafiles = ['dhs_data/' + x for x in listdir('dhs_data/')]
datafiles = datafiles[1:]
print(datafiles)

['dhs_data/dhs_2010.csv', 'dhs_data/dhs_2011.csv', 'dhs_data/dhs_2012.csv', 'dhs_data/dhs_2013.csv', 'dhs_data/dhs_2014.csv', 'dhs_data/dhs_2015.csv']

In [16]:
list_ = []
for file_ in datafiles:
    df = pd.read_csv(file_)
    list_.append(df)
frame = pd.concat(list_)
frame.rename(columns=lambda x: x.strip())
frame.describe()

,Unnamed: 0,ByVariableId,CIHigh,CILow,CharacteristicId,CharacteristicOrder,DataId,DenominatorUnweighted,DenominatorWeighted,IndicatorOrder,IsPreferred,IsTotal,Precision,RegionId,SDRID,SurveyYear,Value
count,132965.000000,132965.000000,198.000000,196.000000,132965.000000,132965.000000,132965.000000,102698.000000,105869.000000,1.329650e+05,132965.000000,132965.0,132965.000000,0.0,132965.000000,132965.000000,132965.000000
mean,13230.234611,3658.951529,97.768182,59.255612,18969.766540,18358.966706,212803.077171,12360.943748,12100.049561,1.426482e+08,0.907186,1.0,0.753131,NaN,1432.543699,2012.012868,2341.102970
std,8588.688641,19187.102388,240.648719,151.015468,84977.930579,86386.101193,128554.096600,20157.020942,19187.004922,1.461444e+08,0.290173,0.0,0.458758,NaN,934.246211,1.394918,10257.616755
min,0.000000,0.000000,0.100000,0.000000,1000.000000,0.000000,1.000000,25.000000,0.000000,1.176301e+07,0.000000,1.0,0.000000,NaN,1.000000,2010.000000,-2.200000
25%,5953.000000,0.000000,1.225000,0.500000,1000.000000,0.000000,96642.000000,2897.250000,2957.000000,5.170412e+07,1.000000,1.0,0.000000,NaN,579.000000,2011.000000,5.400000
50%,12602.000000,0.000000,2.450000,1.400000,1000.000000,0.000000,211534.000000,6463.000000,6481.000000,1.145630e+08,1.000000,1.0,1.000000,NaN,1543.000000,2012.000000,34.000000
75%,19333.000000,0.000000,8.550000,6.950000,10000.000000,10000.000000,323582.000000,13410.000000,13040.000000,2.110031e+08,1.000000,1.0,1.000000,NaN,2090.000000,2013.000000,100.000000
max,35434.000000,189006.000000,1318.000000,778.000000,607003.000000,607003.000000,434623.000000,492288.000000,469662.000000,9.011641e+08,1.000000,1.0,3.000000,NaN,3408.000000,2015.000000,492288.000000

In [18]:
frame.shape

(132965, 27)

In [31]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132965 entries, 0 to 3471
Data columns (total 27 columns):
Unnamed: 0                132965 non-null int64
ByVariableId              132965 non-null int64
ByVariableLabel           23130 non-null object
CIHigh                    198 non-null float64
CILow                     196 non-null float64
CharacteristicCategory    132965 non-null object
CharacteristicId          132965 non-null int64
CharacteristicLabel       132965 non-null object
CharacteristicOrder       132965 non-null int64
CountryName               132965 non-null object
DHS_CountryCode           132965 non-null object
DataId                    132965 non-null int64
DenominatorUnweighted     102698 non-null float64
DenominatorWeighted       105869 non-null float64
Indicator                 132965 non-null object
IndicatorId               132965 non-null object
IndicatorOrder            132965 non-null int64
IsPreferred               132965 non-null int64
IsTotal                   132965 non-null int64
Precision                 132965 non-null int64
RegionId                  0 non-null float64
SDRID                     132965 non-null int64
SurveyId                  132965 non-null object
SurveyType                132965 non-null object
SurveyYear                132965 non-null int64
SurveyYearLabel           132965 non-null object
Value                     132965 non-null float64
dtypes: float64(6), int64(11), object(10)
memory usage: 28.4+ MB

In [20]:
frame.columns

Index([u'Unnamed: 0', u'ByVariableId', u'ByVariableLabel', u'CIHigh', u'CILow',
       u'CharacteristicCategory', u'CharacteristicId', u'CharacteristicLabel',
       u'CharacteristicOrder', u'CountryName', u'DHS_CountryCode', u'DataId',
       u'DenominatorUnweighted', u'DenominatorWeighted', u'Indicator',
       u'IndicatorId', u'IndicatorOrder', u'IsPreferred', u'IsTotal',
       u'Precision', u'RegionId', u'SDRID', u'SurveyId', u'SurveyType',
       u'SurveyYear', u'SurveyYearLabel', u'Value'],
      dtype='object')

In [30]:
len(frame.Indicator.unique())

2462

In [28]:
indicators = pd.DataFrame(data=frame.Indicator.unique())

In [29]:
indicators.to_csv('indicators.csv')

## Indicator exploration
Possible indicators of interest

Women first married by exact age 15
Women first married by exact age 18
423,Women first married by exact age 20
424,Women first married by exact age 22
425,Women first married by exact age 25
426,Women never married
First sexual intercourse by exact age 15 [Women]
446,First sexual intercourse by exact age 18 [Women]
447,First sexual intercourse by exact age 20 [Women]
448,First sexual intercourse by exact age 22 [Women]
449,First sexual intercourse by exact age 25 [Women]
Ever experienced physical violence since age 15
1975,Physical violence in the past 12 months often
1976,Physical violence in the past 12 months sometimes
1977,Physical violence in the past 12 months often or sometimes
1978,Physical violence committed by current husband/partner
1979,Physical violence committed by former husband/partner
1980,Physical violence committed by current boyfriend 
1981,Physical violence committed by former boyfriend
1982,Physical violence committed by father/step-father
1983,Physical violence committed by mother/step-mother
1984,Physical violence committed by sister/brother
1985,Physical violence committed by daughter/son
1986,Physical violence committed by mother-in-law
1987,Physical violence committed by father-in-law
1988,Physical violence committed by other in-law
1989,Physical violence committed by teacher
1990,Physical violence committed by employer/someone at work
1991,Physical violence committed by other
1992,Number of women who have experienced physical violence since age 15
1993,Number of women who have experienced physical violence since age 15 (unweighted)
1994,Women who ever experienced sexual violence
1995,Women who experienced sexual violence in past 12 months
1996,Women who experienced physical violence only
1997,Women who experienced sexual violence only
1998,Women who experienced physical and sexual violence
1999,Women who experienced physical or sexual violence
2000,Number of women 
2001,Women who experienced experienced violence during pregnancy

In [ ]:
list_isin = [""]

In [69]:
filter_frame = frame[frame.Indicator.isin([list_isin])]

Alternative

In [74]:
pattern = r'Physical violence committed by .*'

In [75]:
filter_IPV = frame[frame.Indicator.str.contains(pattern)] #selects only true columns

In [77]:
pd.pivot_table(filter_IPV,index=['CountryName','SurveyYear', 'Indicator'],values=['Value'])

                                                                            Value
CountryName  SurveyYear Indicator
Burkina Faso 2010       Physical violence committed by current boyfriend      4.2
                        Physical violence committed by current husband/...   42.1
                        Physical violence committed by daughter/son           0.1
                        Physical violence committed by employer/someone...    0.2
                        Physical violence committed by father-in-law          0.0
                        Physical violence committed by father/step-father    20.5
                        Physical violence committed by former boyfriend       0.7
                        Physical violence committed by former husband/p...    7.9
                        Physical violence committed by mother-in-law          0.2
                        Physical violence committed by mother/step-mother    24.0
                        Physical violence committed by other                  9.3
                        Physical violence committed by other in-law           1.3
                        Physical violence committed by sister/brother        16.6
                        Physical violence committed by teacher                1.0
Cambodia     2014       Physical violence committed by current boyfriend      0.6
                        Physical violence committed by current husband/...   51.7
                        Physical violence committed by daughter/son           0.3
                        Physical violence committed by employer/someone...    0.3
                        Physical violence committed by father/step-father    16.1
                        Physical violence committed by former boyfriend       0.2
                        Physical violence committed by former husband/p...   18.0
                        Physical violence committed by mother-in-law          0.1
                        Physical violence committed by mother/step-mother    23.0
                        Physical violence committed by other                  1.0
                        Physical violence committed by other in-law           1.6
                        Physical violence committed by other relative         5.7
                        Physical violence committed by police/soldier         0.0
                        Physical violence committed by sister/brother         8.4
                        Physical violence committed by teacher                1.6
Cameroon     2011       Physical violence committed by current boyfriend      2.0
...                                                                           ...
Zambia       2013       Physical violence committed by current husband/...   52.6
                        Physical violence committed by daughter/son           0.1
                        Physical violence committed by employer/someone...    0.0
                        Physical violence committed by father-in-law          0.0
                        Physical violence committed by father/step-father     7.1
                        Physical violence committed by former boyfriend       3.2
                        Physical violence committed by former husband/p...   23.9
                        Physical violence committed by mother-in-law          0.1
                        Physical violence committed by mother/step-mother    12.0
                        Physical violence committed by other                  8.0
                        Physical violence committed by other in-law           0.3
                        Physical violence committed by other relative         7.2
                        Physical violence committed by police/soldier         0.2
                        Physical violence committed by sister/brother         7.2
                        Physical violence committed by teacher                5.1
Zimbabwe     2010       Physical violence committed by current boyfriend      0.2
                        Physical violence committed by current husband/...   57.0
                        Physical violence committed by daughter/son           0.1
                        Physical violence committed by employer/someone...    0.3
                        Physical violence committed by father/step-father     4.1
                        Physical violence committed by former boyfriend       2.7
                        Physical violence committed by former husband/p...   20.3
                        Physical violence committed by mother-in-law          0.3
                        Physical violence committed by mother/step-mother     5.4
                        Physical violence committed by other                  5.4
                        Physical violence committed by other in-law           1.0
                        Physical violence committed by other relative         6.6
                        Physical violence committed by police/soldier         0.2
                        Physical violence committed by sister/brother         4.3
                        Physical violence committed by teacher                3.6

[531 rows x 1 columns]

In [72]:
filter_framePT = pd.pivot_table(filter_frame,index=['CountryName','SurveyYear'],values=['Value'])

In [73]:
filter_framePT

                                      Value
CountryName               SurveyYear
Armenia                   2010          0.7
Bangladesh                2011         42.2
                          2014         38.0
Benin                     2012         14.3
Burkina Faso              2010          9.5
Burundi                   2010          4.6
Cambodia                  2010          3.1
                          2014          4.4
Cameroon                  2011         16.6
Chad                      2014         29.6
Colombia                  2010          5.6
Comoros                   2012         10.4
Congo                     2011         10.0
Congo Democratic Republic 2013         13.8
Cote d'Ivoire             2012         11.6
Dominican Republic        2013         13.8
Egypt                     2014          5.7
Ethiopia                  2011         29.6
Gabon                     2012          7.5
Gambia                    2013         18.1
Ghana                     2014          7.6
Guinea                    2012         27.3
Haiti                     2012          3.6
Honduras                  2011          9.5
Indonesia                 2012          8.9
Jordan                    2012          1.6
Kenya                     2014          7.8
Kyrgyz Republic           2012          0.5
Lesotho                   2014          3.4
Liberia                   2013         13.1
Malawi                    2010         14.1
Mali                      2012         20.1
Mozambique                2011         14.4
Namibia                   2013          1.8
Nepal                     2011         18.0
Niger                     2012         30.2
Nigeria                   2013         23.8
Pakistan                  2012          7.2
Peru                      2010          3.2
                          2011          3.7
                          2012          3.7
Philippines               2013          2.6
Rwanda                    2010          2.1
                          2015          1.5
Senegal                   2010         16.2
                          2012         11.4
                          2014         11.0
Sierra Leone              2013         16.4
Tajikistan                2012          0.6
Tanzania                  2010          8.2
                          2012          7.0
Togo                      2013          9.0
Uganda                    2011         17.8
Yemen                     2013         18.0
Zambia                    2013          9.6
Zimbabwe                  2010          6.1

In [67]:
df2 = pd.pivot_table(frame,index=['CountryName','SurveyYear'],values=['Value'])

In [68]:
df2.to_csv('tabular_data.csv')

In [58]:
pd.crosstab(df.CountryName,frame.SurveyYear)

SurveyYear                 2010  2011  2012  2013  2014  2015
CountryName
Angola                        0   525     0     0     0     0
Armenia                    2067     0     0     0     0     0
Bangladesh                    0  1601     0     0  1307     0
Benin                         0     0  2430     0     0     0
Burkina Faso               2667     0     0     0   464     0
Burundi                    2411     0   558     0     0     0
Cambodia                   1996     0     0     0  2246     0
Cameroon                      0  2516     0     0     0     0
Chad                          0     0     0     0  2611     0
Colombia                   1651     0     0     0     0     0
Comoros                       0     0  2501     0     0     0
Congo                         0  2227     0     0     0     0
Congo Democratic Republic     0     0     0  2583     0     0
Cote d'Ivoire                 0     0  2688     0     0     0
Dominican Republic            0     0     0  2122     0     0
Egypt                         0     0     0     0  1763     0
Ethiopia                      0  2366     0     0     0     0
Gabon                         0     0  2454     0     0     0
Gambia                        0     0     0  2590     0     0
Ghana                         0     0     0     0  2414     0
Guinea                        0     0  2423     0     0     0
Haiti                         0     0  2402     0     0     0
Honduras                      0  2497     0     0     0     0
Indonesia                     0     0  2006     0     0     0
Jordan                        0     0  1516     0     0     0
Kenya                         0     0     0     0  2599   476
Kyrgyz Republic               0     0  2279     0     0     0
Lesotho                       0     0     0     0  2289     0
Liberia                       0   538     0  2384     0     0
Madagascar                    0   498     0   505     0     0
Malawi                     2475     0   503     0   454     0
Mali                          0     0  2679     0     0   434
Mozambique                    0  2376     0     0     0     0
Namibia                       0     0     0  2603     0     0
Nepal                         0  2203     0     0     0     0
Niger                         0     0  2467     0     0     0
Nigeria                     610     0     0  2620     0     0
Pakistan                      0     0  2081     0     0     0
Peru                       1809  1833  1813     0     0     0
Philippines                   0     0     0  1660     0     0
Rwanda                     2526     0     0   498     0  2562
Senegal                    2462     0  1741     0  2235     0
Sierra Leone                  0     0     0  2706     0     0
Tajikistan                    0     0  1779     0     0     0
Tanzania                   2343     0  1115     0     0     0
Togo                          0     0     0  2665     0     0
Uganda                        0  3321     0     0   537     0
Yemen                         0     0     0  1502     0     0
Zambia                        0     0     0  2640     0     0
Zimbabwe                   2543     0     0     0     0     0

In [36]:
married_by_15 = frame.loc[frame.Indicator == "Women first married by exact age 15", ["CountryName", "Value"]]

In [37]:
print(married_by_15)

                     CountryName  Value
592                      Armenia    0.7
2664                Burkina Faso    9.5
5313                     Burundi    4.6
7647                    Colombia    5.6
9310                    Cambodia    3.1
11422                     Malawi   14.1
14381                       Peru    3.2
16279                     Rwanda    2.1
18790                    Senegal   16.2
21227                   Tanzania    8.2
23595                   Zimbabwe    6.1
890                   Bangladesh   42.2
2647                       Congo   10.0
4902                    Cameroon   16.6
7428                    Ethiopia   29.6
9964                    Honduras    9.5
13350                 Mozambique   14.4
15657                      Nepal   18.0
17853                       Peru    3.7
19273                     Uganda   18.4
20623                     Uganda   17.2
568                        Benin   14.3
3549               Cote d'Ivoire   11.6
6194                       Gabon    7.5
8610                      Guinea   27.3
11010                      Haiti    3.6
13504                  Indonesia    8.9
15359                     Jordan    1.6
17048                    Comoros   10.4
19542            Kyrgyz Republic    0.5
21835                       Mali   20.1
25010                      Niger   30.2
27414                       Peru    3.7
29305                   Pakistan    7.2
31231                    Senegal   11.4
32916                 Tajikistan    0.6
34439                   Tanzania    7.0
565    Congo Democratic Republic   13.8
2985          Dominican Republic   13.8
5283                      Gambia   18.1
7874                     Liberia   13.1
10795                    Nigeria   23.8
13396                    Namibia    1.8
15850                Philippines    2.6
18152               Sierra Leone   16.4
20812                       Togo    9.0
23300                      Yemen   18.0
25057                     Zambia    9.6
314                   Bangladesh   38.0
2144                       Egypt    5.7
4109                       Ghana    7.6
6543                       Kenya    7.8
9054                    Cambodia    4.4
11355                    Lesotho    3.4
14107                    Senegal   11.0
16309                       Chad   29.6
1493                      Rwanda    1.5

In [40]:
len(frame.CountryName.unique())

50